<!--pages/inquiry/inquiry.wxml-->
<view class='shoppingCart'>
  <header class='header'></header>
  <wxs src="../../filter/filter.wxs" module="filter" />
  <view class='search-box'>
    <view class='search-input-box search-input-box-{{searchStatus}}'>
      <i class='iconfont cty-sousuo icon-search'></i>
      <input placeholder-class="phcolor" placeholder='搜索VIN号' bindfocus='focusSearchInput' bindinput='setSearchInput' class='search-input' value="{{searchStr}}"></input>
      <view class='close-search' wx:if="{{searchStatus}}" bindtap='closeSearch'>
        <i class='iconfont cty-shanchu'></i>
      </view>
    </view>
    <button class='search-submit' bindtap='searchInquiry' wx:if="{{searchStatus}}">搜索</button>
    <button class='search-link' bindtap='toNewInquiry' wx:else>发起新询价</button>
  </view>
  <view class='shoppingCart-list-box'>
    <view class='shoppingCart-message-box' wx:for="{{ShoppingCartList}}" wx:key="{{item.id}}" wx:if="{{item.isShowCar}}">
      <view class='CarTitle-msg-first CarTitle-msg-first-noTopBor'>
        <view class='CarTitle-title-car'>
          <view>
            <image wx:if="{{item.carMessage.logo}}" src='https://api.autocloudpro.com/Public/car_logo_images/{{item.carMessage.logo}}' class='CarTitle-title-pic'></image>
            <image wx:else src="../../public/img/def-logo.png" class='CarTitle-title-pic'></image>
          </view>
          <view class='CarTitle-title-car-msg'>
            <text class='CarTitle-title-brand'>{{item.carMessage.brandName ? item.carMessage.brandName : '-'}} {{item.carMessage.carSystemName ? item.carMessage.carSystemName : '-'}}</text>
            <text class='CarTitle-title-vin'>VIN: {{item.vinCode}}</text>
            <view class='CarTitle-title-detail-msg'>
              <text>排量:{{item.carMessage.engineDisplacement ? item.carMessage.engineDisplacement : '-'}}</text>
              <text>生产年份:{{item.carMessage.year ? item.carMessage.year : '-'}}</text>
            </view>
          </view>
        </view>
        <view class='CarTitle-address-box'>
          <text class='CarTitle-address'>{{item.addressMessage.provinceCode ? filter.LongAddress(filter.getAddressName(item.addressMessage.provinceCode,'0' )) : '-'}} · {{item.addressMessage.cityCode ? filter.LongAddress(filter.getAddressName(item.addressMessage.cityCode, '1')) : '-'}}</text>
          <text class='CarTitle-address'>{{item.addressMessage.areaCode ? filter.LongAddress(filter.getAddressName(item.addressMessage.areaCode, '2')) : '-'}}</text>
          <text class='CarTitle-address-title'>收货地</text>
        </view>
      </view>
      <view class="all-check-box" bindtap='checkAllParts' data-index='{{index}}'>
        <view class="all-check">
          <i class="iconfont cty-xuanzekuang all-check-{{item.allCheck}}" wx:if="{{!item.allCheck}}"></i>
          <i class="iconfont cty-xuanzhong all-check-{{item.allCheck}}" wx:else></i>
        </view>
        <text>全选</text>
      </view>
      <view class="shoppingCart-part-box  part-statue-{{items.partFailure}}" wx:for="{{item.partsList}}" wx:for-item='items' wx:for-index="indexs" wx:key="{{items.id}}" wx:if="{{items.isShow}}">
        <view class="shoppingCart-part-check" bindtap="checkPart" data-index='{{index}}' data-indexs='{{indexs}}'>
          <i class="iconfont cty-xuanzekuang check-{{items.check}}" wx:if="{{!items.check}}"></i>
          <i class="iconfont cty-xuanzhong check-{{items.check}}" wx:else></i>
        </view>
        <view class="shoppingCart-part-message-box">
          <view class="shoppingCart-part-msg">
            <view class="shoppingCart-part-detail">
              <view class='shoppingCart-part-name-box'>
                <text class="shoppingCart-part-name">{{items.partName}}</text>
                <text class="shoppingCart-part-type">{{items.partTypeName}}</text>
              </view> 
              <view class="shoppingCart-part-oe">OE:{{items.partOE}}</view>
            </view>
            <view class="shoppingCart-part-failure" wx:if="{{!items.partFailure}}">{{items.partDeadlineDate}}</view>
            <view class="shoppingCart-part-failure" wx:else>已失效</view>
          </view>
          <view class="shoppingCart-part-remark">
            <text>钉箱费:{{filter.getMoney(items.nailBoxPrice)}}</text>
            <text wx:if="{{items.partsBrandName}}">/{{items.partsBrandName}}</text>
            <text wx:if="{{items.placeOfOrigin}}">/{{items.placeOfOrigin}}</text>
            <text wx:if="{{items.partRemark}}">/{{items.partRemark}}</text>
            <text wx:if="{{items.partsEpcRemarks}}" wx:for="{{items.partsEpcRemarks}}" wx:key="{{item}}">/{{item}}</text>
            <text wx:if="{{items.bookOrder && items.bookOrderDays > 0}}">/要预定{{items.bookOrderDays}}天</text>
            <text wx:if="{{items.bookOrder}}">/{{items.bookAllowReturn}}退货</text>
          </view>
          <view class="shoppingCart-part-handle">
            <view class="shoppingCart-part-money">
              <text>小计:</text>
              <text class="shoppingCart-part-subtotal">￥{{filter.getMoney(items.partSubtotal)}}</text>
              <text class="shoppingCart-part-unitprice">单价:￥{{filter.getMoney(items.partUnitPrice)}}</text>
            </view>
            <view class="shoppingCart-part-number-box" wx:if="{{!items.partFailure}}">
              <view class="shoppingCart-part-reduce" data-index='{{index}}' data-indexs='{{indexs}}' data-cartid='{{items.cartId}}' bindtap="reduceNumber"><i class="iconfont cty-yunsuan-jian"></i></view>
              <view class="shoppingCart-part-number">{{items.partNumber}}</view>
              <view class="shoppingCart-part-add" data-index='{{index}}' data-indexs='{{indexs}}' data-cartid='{{items.cartId}}' bindtap="addNumber"><i class="iconfont cty-yunsuan-jia"></i></view>
            </view>
            <view class="shoppingCart-part-number-box" wx:else>
              {{items.partNumber}}
            </view>
          </view>
        </view>
      </view>
      <view class="inquiry-action">
        <view class="service-inquiry" bindtap='OpenService' data-partslist='{{item.partsList}}' data-provinceid='{{item.addressMessage.provinceCode}}' data-cityid='{{item.addressMessage.cityCode}}' data-districtid='{{item.addressMessage.areaCode}}'>
          <i class='iconfont cty-xiaochengxukefuicon'></i>
          <text>在线客服</text>
        </view>
      </view>
    </view>
  </view>
  <view class="shoppingCart-bottom">
    <view class="shoppingCart-message">
      <view>已选中 <text class="shoppingCart-message-partNumber">{{selectedPartsNumber}}</text> 种配件</view>
      <view class="shoppingCart-message-all">合计:<text class="shoppingCart-message-money">￥{{filter.getMoney(selectedPartsPrice)}}</text></view>
    </view>
    <button disabled="{{!submitType}}" class="shoppingCart-submit shoppingCart-submit-{{submitType}}" bindtap='submitOrder'>去结算</button>
  </view>
</view>
