/* pages/inquiry/inquiry.wxss */
.shoppingCart{
  background: #fafafa;
}
.search-box{
  margin-top: 92rpx;
}
.search-box{
  display: flex;
  background: #fff;
  padding: 16rpx 30rpx;
  margin-bottom: 30rpx;
}
.search-input-box{
  background: #f5f5f5;
  border-radius: 8rpx;
  height: 66rpx;
  display: flex;
  align-items: center;
  flex: 8;
  margin-right: 20rpx;
}
.icon-search{
  font-size: 30rpx;
  color: #B0B0B0;
  margin: 0 20rpx;
}
.search-input{
  border: 0rpx;
  height: 66rpx;
  line-height: 66rpx;
  font-size: 24rpx;
  width: 300rpx;
}
.search-link{
  height: 66rpx;
  border: 1px solid #1679DB;
  color: #1679DB;
  background: #fff;
  font-size: 22rpx;
}
.search-submit{
  color: #1679DB;
  padding: 0 30rpx;
  height: 66rpx;
  font-size: 26rpx;
  border: 0px;
  background: #fff;
}
.close-search{
  width: 36rpx;
  height: 36rpx;
  line-height: 36rpx;
  border-radius: 100%;
  background: #ccc;
  margin-left: auto;
  margin-right: 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.close-search .iconfont{
  color: #fff;
  font-size: 18rpx;
}
.search-input,
.search-submit,
.search-link{

}
.shoppingCart-header-box{
  display: flex;
}

.all-check-box{
  padding: 0 30rpx;
  height: 80rpx;
  line-height: 80rpx;
  display: flex;
  border-bottom: 1rpx solid #f0f0f0;
  color: #999;
}
.all-check{
  width: 54rpx;
}
.all-check .iconfont,
.shoppingCart-part-check .iconfont{
  font-size: 32rpx;
}
.cty-xuanzekuang{
  color: #b0b0b0;
}
.shoppingCart-part-box{
  display: flex;
  align-items: center;
  padding: 0 30rpx;
  border-bottom: 1px solid #F0F0F0 ;
}
.shoppingCart-part-check{
  width: 54rpx;
}
.shoppingCart-part-message-box{
  width: 100%;
  padding: 30rpx 0;
}
.shoppingCart-part-msg{
  display: flex;
  justify-content: space-between;
}
.shoppingCart-part-detail{
  line-height: 36rpx;
}
.shoppingCart-part-name,
.shoppingCart-part-type{
  vertical-align: middle;
  display: inline-block;
}
.shoppingCart-part-name{
  font-size: 26rpx;
  color: #1F1F1F;
}
.shoppingCart-part-type{
  width: 60rpx;
  font-size: 18rpx;
  text-align: center;
  margin-left: 10rpx;
  line-height: 28rpx;
  height: 28rpx;
  background: #CCCCCC;
  border-radius: 4rpx;
  color: #fff;
}
.shoppingCart-part-oe{
  color: #1F1F1F;
}
.shoppingCart-part-failure{
  font-size: 22rpx;
  color: #EE3232;
}
.shoppingCart-part-remark{
  font-size: 22rpx;
  line-height: 30rpx;
  margin-top: 6rpx;
  color: #999999;
}
.shoppingCart-part-handle{
  margin-top: 30rpx;
  display: flex;
  justify-content: space-between;
}
.shoppingCart-part-money{
  font-size: 20rpx;
  color: #333333;
}
.shoppingCart-part-subtotal{
  font-size: 30rpx;
  color: #333333;
}
.shoppingCart-part-unitprice{
  font-size: 22rpx;
  color: #999999;
  margin-left: 20rpx;
}
.shoppingCart-part-number{
  min-width: 30rpx;
  text-align: center;
}
.shoppingCart-part-number-box{
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  height: 50rpx;
  border-radius: 4rpx;
}
.shoppingCart-part-number-box > view{
  padding: 0 16rpx;
}
.shoppingCart-part-number-box .iconfont{
  font-size: 22rpx;
  color: #333;
}
.shoppingCart-bottom{
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.CarTitle-msg-first-noTopBor{
  border-top: 0rpx;
}
.shoppingCart-message{
  padding: 0 30rpx;
  font-size: 26rpx;
  width: 100%;
  color: #999;
  display: flex;
  justify-content: space-between;
}
.shoppingCart-list-box{
  padding-bottom: 100rpx;
}
.shoppingCart-message-box{
  background: #fff;
  border-bottom: 30rpx solid #fafafa;
}
.shoppingCart-message-all{
  color:  #1F1F1F;
}
.shoppingCart-message-money{
  font-weight: 550;
}
.shoppingCart-message-partNumber{
  color:  #1F1F1F;
}
.shoppingCart-submit{
  width: 200rpx;
  border-radius: 0rpx;
  font-size: 26rpx;
}
/* 提交按钮disabled状态 */
.shoppingCart-submit-false[disabled],
.shoppingCart-submit-false[disabled]:not([type]){
  background-color: #ccc;
}
.all-check-true,
.check-true{
  color: #1679DB;
}
.inquiry-action{
  border-top: 1rpx solid #f0f0f0;
  padding: 30rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.service-inquiry{
  width: 152rpx; height: 50rpx; line-height: 50rpx;
  display: flex; border: 1rpx solid #ccc;
  justify-content: center; border-radius: 8rpx;
  align-items: center;
  font-size: 24rpx;
}
.service-inquiry text{
  margin-left: 10rpx; color: #666;
}



/*失效配件*/
.part-statue-true{
  background: #F7F7F7;
  border-bottom: 1px solid #F0F0F0;
}
.part-statue-true .shoppingCart-part-check{
  visibility: hidden;
}
.part-statue-true .shoppingCart-part-type{
  background: #CCC;
}
.part-statue-true .shoppingCart-part-number-box{
  border: 0rpx;
}
.part-statue-true .shoppingCart-part-remark,
.part-statue-true .shoppingCart-part-money,
.part-statue-true .shoppingCart-part-subtotal,
.part-statue-true .shoppingCart-part-unitprice,
.part-statue-true .shoppingCart-part-oe,
.part-statue-true .shoppingCart-part-failure,
.part-statue-true .shoppingCart-part-name,
.part-statue-true .shoppingCart-part-number-box,
.part-statue-true .shoppingCart-part-message-box{
  color: #B0B0B0 !important
}