<view>
  <header class='header'></header>
  <wxs src="../../filter/filter.wxs" module="filter" />
  <view class='outputvin-top' style='height: {{height}}px'>
    <view class='car-nofind' wx:if="{{!isResult}}">
      <view class='car-nofind-vin'>{{vin}}</view>
      <view class='car-nofind-title'>车型数据暂无，可以继续询价...</view>
    </view>
    <view class='car-message-box' wx:else>
      <view class='car-title'>
        <image class='car-image' wx:if="{{VINData['carpic']}}" src="https://api.autocloudpro.com/Public/car_logo_images/{{VINData['carpic']}}"></image>
        <view class='car-message'>
          <text class='car-brand'>{{VINData['subbrand'] ? VINData['subbrand'] : VINDateEPC.content['标准厂牌名']}}</text>
          <text class='car-model'>{{VINData['carmodel'] ? VINData['carmodel'] : VINDateEPC.content['车型']}}</text>
        </view>
      </view>
      <!-- 车辆信息：优先显示CTV数据，若无则显示EPC数据 -->
      <view class='car-attr-box' wx:if="{{!!VINData['subbrand']}}">
        <view class='car-attr' wx:for="{{VINData}}" wx:key="{{index}}" wx:if="{{item && index !== '销售版本' && index !== '整车质量(kg)' && index !== '指导价' && index !== 'id' && index !== 'carpic' && index !== 'subbrand' && index !== 'carmodel' && index !== '品牌编号' && index !== '厂牌编号' && index !== '车系编号' && index !== '品牌名称' && index !== '标准品牌名' && index !== '标准厂牌名' && index !== '车系'}}">
          <text class='car-attr-value'>{{item}}</text>
          <text class='car-attr-key'>{{index == '标准车系名' ? '车系' : index}}</text>
        </view>
      </view>
      <view class='car-attr-box' wx:else>
        <view class='car-attr' wx:for="{{VINDateEPC.content}}" wx:key="{{index}}">
          <text class='car-attr-value'>{{item}}</text>
          <text class='car-attr-key'>{{index}}</text>
        </view>
      </view>
    </view>
    <view class='address-box'>
      <view class='output-vin-title'>收货地址 (必选)</view>
      <view class='address-select-box'>
        <view class='province-box input' bindtap='chooseProvince'>
          <text>{{ filter.LongAddress(addAddressData.area.province) }}</text>
          <i class='iconfont cty-xiajiantou select-icon'></i>
        </view>
        <view class='city-box input' bindtap='chooseCity' data-id="{{addAddressData.area.provinceid}}" data-_id="{{addAddressData.area.province_id}}">
          <text>{{ filter.LongAddress(addAddressData.area.city) }}</text>
          <i class='iconfont cty-xiajiantou select-icon'></i>
        </view>
        <view class='area-box input' bindtap='chooseArea' data-id="{{addAddressData.area.cityid}}" data-_id="{{addAddressData.area.city_id}}">
          <text>{{ filter.LongAddress(addAddressData.area.area) }}</text>
          <i class='iconfont cty-xiajiantou select-icon'></i>
        </view>
      </view>
    </view>
    <view class='area-list' wx:if="{{addressSelect.isShow}}">
      <view class='area-icon input' wx:for="{{addressSelect.list}}" wx:key="{{itemAddressSelectList.id}}" wx:for-item="itemAddressSelectList" data-id="{{itemAddressSelectList.id}}" data-name="{{itemAddressSelectList.name}}" data-_id="{{itemAddressSelectList._id}}" bindtap='chooseAreaList'>{{itemAddressSelectList.name}}</view>
    </view>
    <view class='part-box' wx:if="{{addAddressData.area.areaid}}">
      <view class="part-choose-box">
        <text class='output-vin-title'>添加配件</text>
        <view class="voice-type-box" wx:if="{{voice.isShow}}" bindtap='chooseVoiceType'>
          <text>当前识别{{voice.typeList[voice.current].language}}</text>
          <i class='iconfont cty-xiajiantou'></i>
        </view>
      </view>
      <view class='part' id='part-{{index}}' scroll-into-view="{{toView}}" wx:for="{{partList}}" wx:key="{{item.id}}" wx:for-index="index">
        <!--输入搜索词-->
        <view class='search-input' wx:if="{{!item.isShow && item.partResult.length != 1}}">
          <view class='search-input-sr'>
            <view class='inp-box'>
              <input placeholder-class='phcolor' placeholder='填写配件名称/原厂OE号码' data-index="{{index}}" adjust-position bindinput='setSearchString' bindfocus='focusSearchString' bindblur='blurSearchString' value='{{item.searchString ? item.searchString : item.inputString}}' type='text' maxlength='-1'></input>
            </view>
            <i class='iconfont cty-yuyin search-voice' data-index="{{index}}" bindtap='openVoiceBox'></i>
          </view>
          <view class='search-list' wx:if="{{item.searchResult.length > 0}}">
            <i class='iconfont cty-shangsanjiao search-icon-sl search-type' bindtap='searchhideChoose' data-index="{{index}}"></i>
            <text class='search-type search-type-{{item.className}}' bindtap='searchfinishChoose' wx:for="{{ item.searchResult }}" wx:for-index="indexSearch" data-index="{{index}}" data-indexSearch="{{indexSearch}}" wx:key="{{ item.id }}" >{{ item.name }}</text>
          </view>
        </view>
        <!--输出搜索结果-->
        <view wx:if='{{item.partResult.length > 0}}'>
          <!--搜索结果唯一-->
          <view wx:if="{{item.partResult.length == 1}}">
            <view wx:for="{{item.partResult}}" wx:for-item="itemChild" wx:for-index="indexChild" wx:key="{{itemChild.id}}">
              <!-- 走秒报，可直接加入购物车， 根据用户类型判读  2: 太平洋保险  4: 阳光保险 -->
              <view class='part-result-only' wx:if="{{userAttr != 2 && userAttr != 4}}">
                <view class='search-output' bindtap='againChangeSearch' data-index='{{index}}'>
                  <text>{{itemChild.name}}</text>
                  <text wx:if="{{!!itemChild.oe}}">OE:{{itemChild.oe}}</text>
                </view>
                <view class='search-price-box' wx:if="{{itemChild.priceList.length > 0}}" data-index="{{index}}" bindtap="openPriceList">
                  <text class='search-price'>￥{{filter.getMoney(itemChild.defaultPrice.salePriceWithTax)}}</text>
                  <view class='search-name'>
                    <text class='search-name-company'>{{filter.LongString(itemChild.defaultPrice.partsBrandName, itemChild.defaultPrice.placeOfOrigin)}} </text>
                    <text class='search-name-city'>{{itemChild.defaultPrice.placeOfOrigin}}</text>
                  </view>
                  <i class='iconfont cty-xiajiantou search-icon'></i>
                </view>
                <view class='may-enquiry' wx:else>
                  可询价
                </view>
                <view class="add-cart add-cart-{{itemChild.priceList.length > 0}}" data-index='{{index}}' bindtap='offerAddCart'><i class="iconfont cty-cart"></i></view>
                <view class='delete-part' data-index="{{index}}" bindtap='deletePart'><i class="iconfont cty-shanchu"></i></view>
              </view>
              <!-- 不走秒报，不可直接加入购物车，但是可以加减数量 -->
              <view wx:else class='part-result-only' >
                <view class='search-output' bindtap='againChangeSearch' data-index='{{index}}'>
                  <text>{{itemChild.name}}</text>
                  <text wx:if="{{!!itemChild.oe}}">OE:{{itemChild.oe}}</text>
                </view>
                <view class='may-enquiry'>
                  可询价
                </view>
                <view class='search-part-number'>
                  <view class="part-number-reduce" data-index='{{index}}' bindtap="reduceNumber"><i class="iconfont cty-yunsuan-jian"></i></view>
                  <view class="shoppingCart-part-number">{{itemChild.number}}</view>
                  <view class="part-number-add" data-index='{{index}}' bindtap="addNumber"><i class="iconfont cty-yunsuan-jia"></i></view>
                </view>
                <view class='delete-part' data-index="{{index}}" bindtap='deletePart'><i class="iconfont cty-shanchu"></i></view>
              </view>
              <view wx:if="{{itemChild.priceListShow}}" class="part-list-box">
                <i class='iconfont cty-shangsanjiao part-list-icon input' data-index="{{index}}" bindtap="closePriceList"></i>
                <view wx:for="{{itemChild.priceList}}" wx:for-item="priceItem" wx:for-index="priceIndex" wx:key="{{priceItem.skuId}}" class='part-list input' data-index="{{index}}" data-indexprice="{{priceIndex}}" bindtap='choosePrice'>
                  <text class='search-price search-price-title'>￥{{filter.getMoney(priceItem.salePriceWithTax)}} </text>
                  <view class='search-name search-price-subtitle'>
                    <text>{{priceItem.partsBrandName}} {{priceItem.placeOfOrigin}} </text>
                    <text>{{priceItem.factoryTypeName}} </text>
                  </view>
                </view>
              </view>
            </view>
          </view>
          <!--搜索结果不唯一-->
          <view wx:else class='part-result-more-box'>
            <i class='iconfont cty-shangsanjiao part-result-more-icon input-small' data-index="{{index}}" bindtap='closeSearchList'></i>
            <view class='part-result-more'>
              <view wx:for="{{item.partResult}}" wx:for-index="indexChild" wx:key="{{indexChild}}" class='part-result-more-input input'>
                <view data-index="{{index}}" data-indexChild="{{indexChild}}" bindtap='chooseOE' class='part-result-message'>
                  <text class='title'>OE:{{item.oe}}</text>
                  <text>{{item.name}}</text>
                  <text>位置号:{{item.area ? item.area : '-'}}</text>
                  <text class='note'>备注:{{item.note ? item.note : '-'}}</text>
                </view>
                <image class='part-result-image' data-index="{{index}}" data-indexChild="{{indexChild}}" bindtap='checkImage' data-urlarray="{{item.url}}" wx:if="{{item.url.length > 0}}" src='{{item.url[0].url}}'></image>
              </view>
              <text class='not-kown' data-index="{{index}}" bindtap='closeSearchList'>我也不确定</text>
            </view>
          </view>
        </view>
      </view>
      <button hover-class="button-hover" class='add-inquiry' bindtap='submitInquiey'>
        <i class="iconfont cty-htmal5icon22"></i>
        <text>加入询价单</text>
      </button>
    </view>
  </view>
  <!--录音框-->
  <view class="voice-box" id="voice-box" wx:if="{{voiceBox.voiceBoxShow}}" catchtouchmove='true'>
    <i class="iconfont cty-shanchu" bindtap='closeVoiceBox'></i>
    <text class='voice-text'>按住录音，松开提交</text>
    <canvas disable-scroll="false" class="voice-canvas" canvas-id='voice-canvas' />
    <view class="voice-btn" data-index='{{voiceBox.voiceIndex}}' bindtouchstart="touchstartSearchVoice" bindtouchcancel="touchcancelSearchVoice" bindtouchend="touchendSearchVoice"><i class="iconfont cty-yuyin"></i></view>
  </view>
  <!-- 太保补充信息弹框 -->
  <view class="diglog-box" wx:if="{{dialog.show}}">
    <view class="diglog-bg"></view>
    <view class="diglog-content">
      <input placeholder="报案号" value="{{dialog.insuranceNo}}" bindinput='setInsuranceNo'/>
      <input placeholder="车牌号" value="{{dialog.plateNo}}" bindinput='setPlateNo'/>
      <picker class="diglog-picker" bindchange="ChangeDiglogPicker" value="{{dialog.addressIndex}}" range="{{dialog.addressListText}}">
        <text wx:if="{{userAttr == 2}}">{{!dialog.addressIndex ? '选择修理厂' : dialog.addressListText[dialog.addressIndex] }}</text>
        <text wx:if="{{userAttr == 4}}">{{!dialog.addressIndex ? '选择保险专员' : dialog.addressListText[dialog.addressIndex] }}</text>
      </picker>
      <picker class="diglog-picker" disabled='true' bindchange="" value="" range="">
        <text>开发票</text>
      </picker>
      <text class='diglog-box-text'>提示：{{dialog.note ? dialog.note : '-'}}</text>
      <view >
        <button bindtap='submitDiglog'>保存</button>
        <button bindtap='clearDiglog' class="clear">取消</button>
      </view>
    </view>
  </view>
</view>
