.balancedetail{
  width: 100%;
  height: 100%;
}
.balancedetail-box{
  height: 100%;
  background-color: #fbfbfb;
  padding: 30rpx;
  display: flex;
  flex-direction: column;
  padding-top: 122rpx;
}
.balancedetail-center{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60rpx 0;
  border-radius: 8rpx 8rpx 0 0;
}
.balancedetail-center-title{
  color: #616161;
  font-size: 22rpx;
  line-height: 50rpx;
}
.balancedetail-center-number{
  color: #1f1f1f;
  font-size: 50rpx;
  line-height: 80rpx;
  font-weight: 600;
}
.balancedetail-bg{
  width: 100%;
  height: 13rpx;
}
.balancedetail-list-box{
  padding: 0 30rpx;
  background: #fff;
  border-radius: 0 0 8rpx 8rpx;
}
.balancedetail-list{
  border-bottom: 1rpx dotted #e0e0e0;
}
.balancedetail-list:last-child{
  border-bottom: 0rpx;
}
.balancedetail-model{
  font-size: 26rpx;
  line-height: 40rpx;
  margin: 26rpx 0;
  display: flex;
}
.balancedetail-model-title{
  width: 90rpx;
  color: #9f9f9f;
}