<view class='assets'>
  <header class='header'></header>
  <wxs src="../../filter/filter.wxs" module="filter" />
  <view class='assets-top'>
    <view class='assets-model' bindtap='toBalance'>
      <view class='assets-title-box'>
        <text class='assets-title'>返现账户余额</text>
        <i class="iconfont cty-diandian iconfont-link"></i>
      </view>
      <text class='assets-money'>￥{{filter.getMoney(balance)}}</text>
      <text class='assets-submoney'>最新变动:{{fx_state}}￥{{filter.getMoney(fx_new)}}</text>
    </view>
    <view class='assets-model' wx:if="{{isWhite}}" bindtap='toWhite'>
      <view class='assets-title-box'>
        <text class='assets-title'>白条剩余额度</text>
        <i class="iconfont cty-diandian iconfont-link"></i>
      </view>
      <text class='assets-money'>￥{{filter.getMoney(bt_balance)}}</text>
    </view>
    <view class='assets-number'>
      <text>云豆(个)</text>
      <text>{{yun}}</text>
    </view>
  </view>
</view>