.changephone-box{
  padding: 0 30rpx;
  padding-top: 92rpx;
}
.inputs{
  margin: 80rpx 0 72rpx;
}
.input-box{
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  border-radius: 8rpx;
  line-height: 100rpx;
  height: 100rpx; 
  margin-bottom: 30rpx;
  display: flex;
}
.input-box input{
  font-size: 24rpx;
  line-height: 100rpx;
  height: 100rpx;
  padding: 0 30rpx;
  border: 0rpx;
}
.input-box input::-webkit-input-placeholder {
  color: #cccccc
}
.code-phone{
  flex: 1;
}
.code-input{
  flex: 70
}
.time,
.getSMScode{
  flex: 30;
  text-align: center;
}
.time{
  color: #1679db
}
.getSMScode{
  font-size: 24rpx;
  color: #1679db;
  background-color: #fafafa;
  border: 0px;
  box-shadow: 0px;
  margin: 0px;
  padding: 0px;
}
.unbind-phone{
  color: #ee3232;
  border: 1px solid #EE3232;
  margin-top: 40rpx;
  background: #fff;
}