/* pages/authorization/authorization.wxss */


.authorization{
  padding: 50rpx 40rpx 0; 
}
.icon-box{
  margin: 140rpx 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorization-icon{
  width: 140rpx;
  height: 140rpx;
} 
.assist-icon{
  margin: 0 30rpx;
  font-size: 40rpx;
  color: #ccc;
}