.balancelist-top{
  padding-top: 92rpx;
}
.balance-sum{
  display: flex;
  padding: 100rpx 0;
  flex-direction: column;
  text-align: center;
  border-bottom: 1rpx solid #f0f0f0;
}
.balance-sum-title{
  font-size: 26rpx;
  margin-bottom: 8rpx;
}
.balance-sum-money{
  font-size: 62rpx;
}
.balance-list-box{
  border-bottom: 1rpx solid #f0f0f0;
  padding: 30rpx;
  display: flex;
  justify-content: space-between;
}
.balance-msg{
  max-width: 80%;
}
.balance-msg-title{
  font-size: 28rpx;
  display: block;
  word-break: break-all
}
.balance-msg-time{
  display: block;
  color: #999999;
  font-size: 20rpx;
  margin-top: 8rpx;
}
.balance-money{
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: 26rpx;
  justify-content: flex-end;
}