/* pages/complete_phone/completephone.wxss */
.completephone{
  padding: 50rpx 40rpx 0; 
}
.inputs{
  margin: 90rpx 0;
}
.input-box{
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  border-radius: 8rpx;
  line-height: 100rpx;
  height: 100rpx; 
  margin-bottom: 30rpx;
  display: flex;
}
.input-box input{
  font-size: 24rpx;
  line-height: 100rpx;
  height: 100rpx;
  padding: 0 30rpx;
  border: 0rpx;
}
.input-box input::-webkit-input-placeholder {
  color: #cccccc
}
.code-phone{
  flex: 1;
}
.code-input{
  flex: 60
}
.time,
.getSMScode{
  flex: 40;
  text-align: center;
}
.time{
  color: #1679db;
}
.getSMScode{
  color: #1679db;
  background-color: #fafafa;
  border: 0px;
  box-shadow: 0px;
  margin: 0px;
  padding: 0px;
}