<view>
  <header class='header'></header>
  <view class='repayment'>
    <text class='title-one'>非常抱歉</text>
    <text class='subtitle-one'>请登录PC端车通云官网 \n www.tecepc.com进行还款</text>
    <image class='repayment-img' mode='widthFix' src='../../public/img/repayment-bg.jpg'></image>
  </view>
</view>