.centerpriseinfomation-box{
  padding: 30rpx;
}
.check-status-box{
  padding-top: 92rpx;
  text-align: center;
  height: 170rpx;
}
.check-bg{
  width: 100%;
  height: 170rpx;
  position: absolute;
  top: 92rpx; left: 0;
  z-index: -1;
}
.check-status-box > view{
  height: 170rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.check-status-box .check-img,
.check-status-box text{
  display: block;
  margin: 0 auto;
  color: #ffffff;
}
.check-img{
  width: 46rpx;
  height: 55rpx;
  padding-bottom: 14rpx;
}
.info-title{
  font-size: 26rpx;
  font-weight: 600;
  line-height: 64rpx;
  display: flex;
  justify-content: space-between;
}
.info-input{
  margin: 10rpx 0 30rpx;
  line-height: 100rpx;
  height: 100rpx;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 0 30rpx;
  position: relative;
  z-index: 0;
}
.info-pic{
  margin: 10rpx 0 50rpx;
  border-radius: 8rpx;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  height: 300rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-pic .iconfont{
  font-size: 60rpx;
  color: #d8d8d8;
  margin-bottom: 20rpx;
}
.info-pic text{
  color: #999;
}
.info-updata .iconfont{
  margin-right: 10rpx;
  font-size: 34rpx;
}
.info-sub{
  color: #ef3636;
  font-weight: normal;
}
.info-pic-url{
  margin: 10rpx 0 50rpx;
}
.info-pic-url image{
  width: 100%;
}